<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="fonts/feather/style.css">
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<script src="js/modernizr.custom.js"></script>
	<title>分析报告</title>
	<link rel="stylesheet" type="text/css" href="css/nav.css" />
</head>
<body>
<!--author = gu-de-qing-->
<nav class="nav">
    {% for module, results in result.items() %}
	<details class="menu" open>
        <summary>{{ module }}</summary>
        <ul>
            {% for key, value in results %}
            <li><a href="{{ key }}" target='iframe'>{{ value }}</a></li>
            {% endfor %}
        </ul>
	</details>
	{% endfor %}
	<br>
	<br>
	<address class="address">
		邮箱：info@dunwill.com
        电话+86-21-57077888
        传真+86-21-57077889
        地址：上海市松江区中心路1158号7号楼6楼
	</address>
    <img src="images/">
</nav>


<article class='article'>
	<iframe name="iframe" height="100%" width="100%" frameborder="0"></iframe>
</article>

</body>
</html>
